@mixin d-flex($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin hovertransition($property, $duration,$type) {
    transition: $property $duration $type;
}

@mixin width($max,$width) {
    max-width: $max;
    width: $width;
}